.container{
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.black{
    background-color: #b58863;
    width: 100px;
    height: 100px;
}
.white{
    width: 100px;
    height: 100px;
    background-color: #f0d9b5;
}